# This config file contains the environment variables for the scripts

# OJS API settings
OJS_BASE_URL=
OJS_JOURNAL_PATH=
OJS_API_KEY=

# OJS journal settings
OJS_CONTEXT_ID=
OJS_ISSUE_ID=

# Janeway settings
JANEWAY_JOURNAL_CODE=